<!DOCTYPE html>
<html>
<head>
  <title>Blog App</title>
  <style>
    body { font-family: Arial; margin: 40px; }
    a { margin-right: 10px; }
  </style>
   <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
  <h1 class="text-center text-2xl">Simple Blog App</h1>
