<%- include('../shared/header') %>

<h2>Create Blog</h2>

<form action="/blogs" method="POST">
  <input type="text" name="title" placeholder="Title" required />
  <br><br>
  <textarea name="content" placeholder="Content" required></textarea>
  <br><br>
  <button>Create</button>
</form>

<%- include('../shared/footer') %>
